# System file
.DS_Store
# dependencies and build
node_modules
dist
build
# IDE files
idea/
.vscode
# sonarcube scan results
.scannerwork
# log files
yarn-error.log
yarn-debug.log
# npm lock file
package-lock.json